.treeview-item-root {
    min-height: unset;
    padding-left: 5px;
}

    .treeview-item-root:hover {
        background-color: #F6F6F6 !important;
        cursor: default;
    }

.treeview-item-label {
    font-size: unset;
}

.w-100 {
    width: 100%;
}

.CodeMirror {
    border: 1px solid silver;
    font-size: 12px;
}

.row-disabled {
    background-color: #eee;
    opacity: .55 !important;
    pointer-events: none !important;
}

.pop-menu .list-button {
    line-height: 35px;
    text-align: left;
}

#template-info-bar {
    bottom: 47px;
    position: fixed;
    width: 100%;
    border: 1px solid #C0C0C0;
    padding-left: 5px;
    height: 23px;
}

.treeview-item-label.binding:hover {
    text-decoration: underline;
    cursor: pointer;
}

.treeview-item-label.template:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-view input, select {
    border: 0px;
}

.context-disabled {
    pointer-events: none;
    color: gray !important;
}

.clear {
    clear: both;
}

.hidden {
    visibility: hidden;
}

.hide {
    display: none !important;
}

.toolbar-border.card-header::after {
    background-color: unset !important;
}

.bg-button-face {
    background-color: #F3F4F6 !important;
}

.overflow-hidden {
    overflow: hidden;
}

.scrollbar {
    overflow: auto;
}

.pad-left-5 {
    padding-left: 5px !important;
}

.mar-left-5 {
    margin-left: 5px;
}

.data-table tbody td, .data-table tbody th {
    height: 30px !important;
}

.v-align {
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

table td a:hover {
    text-decoration: underline;
}

.auto-scroll {
    overflow: auto !important;
}

.size-400 {
    width: 400px !important;
}

.label-margin {
    margin-bottom: 0.5rem;
}

.no-hover:hover {
    text-decoration: none;
}

ul.tabs {
    list-style: none;
    margin: 0 0 -1px 0;
    padding: 0 0 0 37px;
    font-family: "Ubuntu Mono", monospace;
    overflow: hidden;
}

    ul.tabs li.selected {
        background: white;
        color: #222;
        z-index: 3;
        cursor: default;
    }

    ul.tabs li {
        font-size: 10pt;
        color: #777;
        cursor: pointer;
        margin: 0 2px 0 0;
        padding: 2px 10px 5px;
        border: 1px solid silver;
        border-bottom-width: 1px;
        border-bottom-width: 0px;
        background: #f3f3f3;
        display: inline-block;
        z-index: 1;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: relative;
        height: 20px;
    }

    ul.tabs .close {
        width: 10px;
        float: right;
        margin-top: 4px;
        opacity: 0.5;
    }

        ul.tabs .close:hover {
            opacity: 1;
            cursor: pointer;
        }

.statusbar {
    bottom: 47px;
    position: absolute;
    border: 1px solid #C2C3C5;
    width: 100%;
    padding-left: 5px;
}